<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post Product | Local Farmers MarketPlace</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <link rel="icon" href="{% static 'assets/favicons/icon.jpg' %}">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Post A New Product</h2>
   <div class="card p-4 mt-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100 mt-3">Post Product</button>
        </form>
    </div>
</div>

</body>
</html>